<style>
    .details-link {
        color: palevioletred;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
    }
</style>
@model List<instructor>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table  class="table table-bordered table-hover">
    <tr>
       <th>Id </th>
        <th>Name </th>
        <th>Salary </th>
        <th>Address </th>
        <th>Image </th>
        <th>Show Details </th>

    </tr>
    @foreach (var item in Model)
    {
     <tr>
         <td>@item.Id  </td>
         <td>@item.Name </td>
         <td>@item.Salary</td>
         <td>@item.Address</td>
        
         <td><img src="~/images/@item.ImageURl" style="width:100px"></td>
            <td><a href="@Url.Action("ShowAll" ,"instructor",new{id=item.Id})" class="details-link">Details</a></td>
     </tr>
       

    }
</table>
